* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
  }
.App {
 font-family: 'Roboto';
}
h4 {
  font-size: 16px;
  font-weight: 600;
}
h5 {
  font-size: 14px;
  font-weight: 500;
}
p {
  font-size: 14px;
  font-weight: 400;
}
th {
  font-size: 14px;
  font-weight: 500;
  color: #727789;
}
td {
  font-size: 13px;
  font-weight: 400;
  color: #727789;
}
.status-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #727789;
  height: 36px;
  width: 78px;
  font-weight: 500;
  font-size: 14px;

  line-height: 18px;

  border-right: 1px solid #d0d5dd;
}
.status-btn {
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  width: 234px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-div {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.search-position {
  position: absolute;
  right: 10px;
  top: 10px;
}
.search-div input {
  width: 259px !important;
  height: 38px !important;
  padding: 0px 10px;
  border-radius: 8px !important;
  border: 1px solid #dbe0ee !important;
}

.search-div p {
  color: #9499ac;
  font-weight: 600;
  font-size: 14px;
}
.sub-bill-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.find-lawyer-header {
  background: #ffffff;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding: 15px 20px;

}
.table-container {
  margin:  auto;
background: #ffffff;

}
.new-table-scroll {
width: 100% !important;
overflow-x: auto;

}

/* For WebKit Browsers (Chrome, Edge, Safari) */
.new-table-scroll::-webkit-scrollbar {
  height: 3px; /* Set scrollbar width */
 
}

.new-table-scroll::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar thumb color */
  border-radius: 4px; /* Optional for rounded scrollbar */
}

.new-table-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb hover color */
}

.new-table-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track color */
}

/* Hide Up and Down Arrows in Scrollbar */
.new-table-scroll::-webkit-scrollbar-button {
  display: none; /* Hides the arrows */
}
.table-div-con {
  min-width: 1000px;
 
 
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border: 1px solid #d0d5dd;
}
table {
}
.custom-table thead th {
  padding: 10px;
  background-color: #f4f4f4;
  font-weight: bold;
  font-size: 14px;
  border: 1px solid #d0d5dd;
}

.custom-table tbody tr {
  padding: 10px;
  border: 1px solid #d0d5dd;
}
.custom-table tbody td {
  padding: 10px;
  border: none;
}

.custom-table tbody tr td input[type="checkbox"] {
  margin: 0;
}
.dropdown-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;

  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3); /* Semi-transparent dark background */
  backdrop-filter: blur(1px); /* Adds a blur effect */
  z-index: 9999;
  top: 0;
  left: 0;
}
.all-dropdown-div {
  width: 556px;


 

  border: 1px solid #d0d5dd;
  border-radius: 10px;

  background: #ffffff;
  padding-bottom: 15px;
  display: flex;
  font-size: 12px;
  font-weight: 500;
  color: #60667a;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.dropdown-div {
 
  gap: 20px;
  
}
.dropdown-container.hidden {
  display: none;
}
.dropdown-header {
  display: flex;
  height: 55px;
  justify-content: space-between;
  align-items: center;
  background: #f7f7f8;
  border-bottom: 1px solid #d0d5dd;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding: 15px;
}
.amount {
  font-weight: 500;
}
.dropdown-div h3 {
  font-size: 22px;
  font-weight: 500;
  background: #F7F7F7;
  border-radius: 8px;
  color: #112240;
  width: 345px;
  height: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.summary-div-1 {
  display: flex;
  justify-content: space-between;
}
.summary-ps {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 100px;
  border: 1px solid #d0d5dd;
  border-radius: 10px;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  gap: 15px;
  color: #727789;
}
.summary-ps span {
  color: #030b26;
  font-weight: 800;
  font-size: 20px;

}
.inner-summary-div {
  display: flex;
  gap: 15px;
}
.pagination-div {
  background: #ffffff;
}
.summary {
  border: 1px solid #d0d5dd;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  margin: 15px;
}
.summary-div-1 p, .annual-target{
  font-size: 16px;
  font-weight: 600;

  color: #727789;
}
.summary-div-1 span, .annual-target span{
  color: #030b26;
  font-weight: 800;
  font-size: 25px;
}
.annual-target {
  margin: 15px 0px;
}
.branch-target {
  margin-top: 15px;
}

